* {
  font-family: "Satoshi", sans-serif !important;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fefefe;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20vh;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("/images/grain.png");
  background-repeat: repeat;
}

.separator {
  height: 1px;
  width: 600px;
  background-color: #d5d5d5;
}

#topbar {
  display: flex;
  justify-content: space-between;
  margin-top: 7vh;
  text-decoration: none;
  opacity: 70%;
  /* padding: 10px 20px;
  border: 2px solid #d5d5d5;
  border-radius: 99999px; */
}

#topbar a {
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000000;
}

#topbar a:hover {
  color: #383838;
}

#about {
  display: flex;
  color: #000000;
  font-size: 1.2rem;
  text-align: justify;
  flex-direction: column;
}

#about img {
  margin-bottom: 30px;
  width: 6rem;
  border-radius: 99999px;
  filter: grayscale(100%);
  box-shadow: 0px 0px 10px 0px #dadada;
}

#about img:hover {
  filter: grayscale(0%);
}

#about h1,
#about h3 {
  color: #313131;
}
#about h1:hover {
  text-decoration: none;
}
#about p {
  margin-top: 20px;
  opacity: 60%;
  font-weight: 500;
}

#about #links {
  color: #313131;
  font-weight: 600;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

a {
  color: #313131;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
}

a:hover {
  opacity: 60%;
}

h1:hover {
  text-decoration: underline;
}

#experience {
  display: flex;
  flex-direction: column;
  color: #000000;
}

#experience h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

#experience p {
  font-size: 1.2rem;
  opacity: 60%;
  font-weight: 500;
  text-align: justify;
}

.experience_heading {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #313131;
}

.experience_heading img {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  margin-right: 30px;
  border-radius: 99999px;
  box-shadow: 0px 0px 10px 0px #dadada;
  filter: grayscale(100%);
}

#experience:hover img {
  filter: grayscale(0%);
}

.experience_heading h5 {
  margin-left: auto;
  align-self: flex-start;
  justify-self: end;
  opacity: 70%;
}

.project {
  margin-top: 30px;
  margin-bottom: 10px;
}

.project h5 {
  opacity: 70%;
}

.project h2 {
  color: #313131;
}

.project p {
  font-size: 1.2rem;
  text-align: justify;
  opacity: 60%;
  font-weight: 500;
}

.project #links {
  margin-top: 10px;
  display: flex;
  gap: 40px;
}

/* .project a {
  color: #313131;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 600;
} */

.project-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-end; */
  gap: 20px;
}

.project-info img {
  width: 250px;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 10px 0px #dadada;
  border-radius: 10px;
  filter: grayscale(100%);
}

.project-info:hover img {
  filter: grayscale(0%);
}

.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #about,
  #topbar,
  #experience,
  #projects,
  #skills {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  #about,
  #topbar,
  #experience,
  #projects,
  #skills {
    width: 100%;
  }
}
