{{ partial "header.html" . }}

<div class="home-content">{{ .Content }}</div>

{{ if .IsHome }}
    {{ if not .Site.Params.noSearch }}
        {{ partial "search-form.html" . }}
        <ul id="results"></ul>
    {{ end }}

    <div class="sections-container">
        {{ range .Sections }}
            <div class="section">
                <h2 class="section-title">{{ .CurrentSection.Title }}</h2>
                {{ .CurrentSection.Content }}
                {{ partial "post_list.html" . }}
            </div>
        {{ end }}
    </div>
{{ else }}
    <div class="sections-container">
        <div class="section">
            <h2 class="section-title">{{ .CurrentSection.Title }}</h2>
            {{ partial "post_list.html" . }}
        </div>
    </div>
{{ end }}

{{ partial "footer.html" . }}
