.box-shortcode {
    padding: 1.2em;
    padding-top: 1em;
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
    background: #f3ebe850;
}

.box-shortcode p {
    color: var(--code-background);
    font-weight: 300;
    font-size: 1.2rem;
}

.box-shortcode ul {
    color: var(--code-background);
    font-weight: 300;
    margin: 0;
}

.box-shortcode code {
    color: var(--text);
}

.box-title {
    margin: -10px;
    padding: 4px 18px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    color: var(--code-background);
    background: #6ab0de;
}

.box-shortcode.warning .box-title {
    background: #ff9090;
}

.box-shortcode.warning {
    background: #c06b6b;
}

.box-shortcode.info .box-title {
    background: #7fccff;
}

.box-shortcode.info {
    background: #c2dcee;
}

.box-shortcode.important .box-title {
    background: #6e6a26;
}

.box-shortcode.important {
    background: #ffe081;
}

.box-shortcode.tip .box-title {
    background: #85e585;
}

.box-shortcode.tip {
    background: #79d279;
}

.icon-box {
    display: inline-flex;
    align-self: center;
    margin-right: 4px;
}

.icon-box img,
.icon-box svg {
    height: 1em;
    width: 1em;
    fill: var(--code-background);
}

.icon-box img,
.icon-box.baseline svg {
    top: 0.125em;
    position: relative;
}

.box-shortcode p:first-of-type {
    display: inline;
}

.box-shortcode p:nth-of-type(2) {
    margin-top: 0.6em;
}

.box-shortcode p:last-child {
    margin-bottom: 0;
}