@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --complimentary: #a0a0a0;
  --text: #e8e8e8;
  --code: #dcdcdc;
  --text-dim: #a9a9a9;
  --link: #88b0ff;
  --link-visited: #b388ff;
  --code-background: #2b2b2b;
  --code-border: #3a3a3a;
  --code-hl: #3d3d3d;
  --border-general: #444;
  --table-th: #33302a;
  --table-tr: #2c2924;
  --toc-background: #2f2f2f;
  --toc-border: #555;
  --background: #1c1c1c;
  --background-rgb: 28, 28, 28;
}

#gitinfo-date {
  color: var(--text-dim);
  filter: opacity(40%);
  font-style: italic;
  font-size: 0.9em;
  white-space: nowrap;
}

@media screen and (min-width: 760px) {
  #gitinfo-date {
    margin-left: 30px;
  }
}

html {
  color: var(--text);
  background-color: var(--background);
  scroll-behavior: smooth;
  background-image: url(/footer-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom left calc(100% - 50px);
  background-size: 7%;
  font-family: 'Karla', sans-serif;
}

body {
  margin: auto;
  padding: 0em 1em 2em 1em;
  line-height: 1.54;
  text-align: justify;
}

@media screen and (min-width: 760px) {
  body {
    margin: auto;
    max-width: 68vw;
  }
}

@media screen and (min-width: 1150px) {
  body {
    margin: auto;
    max-width: 62vw;
  }
}

main {
  hyphens: none;
}

.social-links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  margin: 0;
}

.social-links-container a {
  display: inline-flex;
  text-decoration: none;
}

.social-links-container img {
  height: 26px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .social-links-container {
    justify-content: center;
  }
}

/* BASIC HTML ELEMENTS */
p {
  margin: 0.7em 0;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.02em;
  line-height: 1.3;
  color: var(--text);
}

h1 {
  font-weight: 300;
  margin-bottom: 0px;
  font-size: 2em;
  margin-top: 0;
}

h2 {
  border-bottom: 1px solid;
  border-color: var(--text-dim);
  margin-bottom: 0.5em;
  margin-top: 1.2em;
  font-weight: 400;
  font-size: 1.65em;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  padding-bottom: 0;
}

h4 {
  font-size: 1.3em;
  margin-top: 0.2em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-style: oblique;
  font-weight: normal;
}

nav {
  color: var(--text-dim);
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited);
}

li {
  font-size: 1.1em;
  font-weight: 200;
}

hr {
  border-style: dashed;
  color: var(--text-dim);
}

blockquote {
  border-left: 0.3rem solid var(--complimentary);
  font-style: oblique;
  margin: 1.6rem 0;
  padding: 0 1.4rem 0 1rem;
  line-height: 1.6;
}

blockquote p {
  margin: 0;
}

details {
  padding: 0 0 0 14px;
  border-left: 2px dashed var(--border-general);
}

mark {
  padding: 0 2px 0 2px;
}

ul {
  padding-left: 1.7rem;
}

main ul {
  font-size: 1.3rem;
  font-weight: 200;
}


/* MISC */
.section-title {
  border: 0;
  font-size: 2rem;
  font-weight: 600;
}

.post-list {
  color: var(--complimentary);
}

.post-item {
  display: flex;
  align-items: center;
}

.post-image {
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.post-item:has(:hover)>.post-image {
  scale: 1.1;
}

.post-details a {
  font-size: 1.4rem;
  font-weight: 300;
  color: white;
}

@media screen and (min-width: 760px) {
  .post-list {
    max-width: 60vw;
  }
}

.bold-post-in-list {
  font-weight: 600;
}

@media screen and (max-width: 760px) {
  .katex {
    font-size: 1.05em !important;
  }
}

.footnotes {
  margin-top: 60px;
}

.terms {
  padding-left: 16px;
}