#single-header {
  /* border-bottom: 1px solid var(--complimentary); */
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

#single-header h1 {
  font-size: 5rem;
  font-weight: 200;
  line-height: normal;
  padding-bottom: 18px;
  text-align: left;
}

#single-header img {
  display: none;
}

@media (min-width: 900px) {
  #single-header {
    margin-top: 100px;
    margin-bottom: 60px;
  }

  #single-header img {
    display: block;
  }
}

.date {
  color: var(--text-dim);
  padding-top: 0.1em;
  font-size: 90%;
}

#single-meta {
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 0.9em;
}

#single-meta a:visited {
  color: var(--link);
}

#subtitle {
  margin-top: -4px;
  margin-bottom: 0.3em;
  font-size: 1.4em;
  color: var(--text-dim);
  font-weight: 300;
}

.datesub {
  font-weight: normal;
  color: var(--text-dim);
}

#tags {
  font-weight: normal;
  color: var(--text-dim);
}

#tags a {
  filter: brightness(80%);
}

#tags a:visited {
  filter: brightness(80%);
}