/* SEARCH */
#search-input {
    padding: 6px;
    width: 72%;
    border: 1px solid #1d1d1d;
}

#search-input:focus {
    border-color: #4e4e4e;
}

#search-input:active {
    color: #2d2d2d;
}

@media screen and (min-width: 900px) {
    #search-input {
        width: 42%;
    }
}

@media screen and (min-width: 1150px) {
    #search-input {
        width: 33%;
    }
}

input {
    background-color: var(--background);
    color: var(--text);
    border-color: var(--border-general);
    border-radius: 4px;
}

#results {
    padding-left: 16px;
}