<div class="post-item">
  <!-- Left side: Image -->
  {{ if .Params.image }}
  <div class="post-image">
    <a href="{{ .RelPermalink }}">
      {{ partial "processed-image.html" (dict "path" .Params.image "width" 480
      "alt" .Title "loading" "lazy") }}
    </a>
  </div>
  {{ end }}

  <!-- Right side: Title and Date -->
  <div class="post-details">
    <h3 class="post-title">
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </h3>
    {{ if not .CurrentSection.Params.nodate }}
    <span class="post-date">
      <span class="material-symbols-outlined" aria-hidden="true">calendar_today</span>
      {{ .Date.Format "Jan 2, 2006" }}
    </span>
    {{ end }}
  </div>
</div>
