* {
  color: rgb(255, 250, 226);
  fill: rgb(255, 250, 226);
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Epilogue', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}