<div class="image-gallery-container">
  <ul class="image-gallery-img three-image-gallery">
    {{ range $i, $path := slice (index .Params 0) (index .Params 1) (index .Params 2) }}
    {{- $imgPath := strings.TrimPrefix "/" $path -}}
    {{- $img := resources.Get $imgPath -}}
    <li>
      {{- if $img -}}
        {{- $processed := $img.Resize "290x" -}}
        <a target="_blank" href="{{ $processed.RelPermalink }}">
          {{ partial "processed-image.html" (dict "path" $path "width" 290 "alt" "" "loading" "lazy") }}
        </a>
      {{- else -}}
        <a target="_blank" href="{{ $path }}">
          <img loading="lazy" decoding="async" src="{{ $path }}" />
        </a>
      {{- end -}}
    </li>
    {{ end }}
  </ul>
</div>
